// Colours
$color-primary: #00494d;
$color-secondary: #26c0ab;
$color-tertiary: #5e7a7d;
$color-quarternary: #7f9c9f;
$color-grey: #c5e4e7;
$color-light-grey: #f4fafa;
$color-white: #ffffff;

// Typography
$font-family: "Space Mono", monospace;
$font-large: 29px;
$font-med: 24px;
$font-sm: 20px;
$font-default: 16px;
$font-small: 14px;
$font-xsmall: 12px;
